:root {
  --background-color: #343f46;
  --calculator-background-color: #17181a;
  --calculator-shade-background-color: #60beff8c;
  --buttons-background-color: #303136;
  --display-background-color: #1e1f22;
  --operations-background-color: #005db2;
  --delete-background-color: #606060;
  --equals-background-color: #1991ff;
  --delete-color: #a8a8aa;
  --equals-color: #b2daff;
  --primary-color: #38b9ff;
  --hover-color: #3c5187;
  --hover-delete: #444;
  --hover-border-color: #3c5187;
  --hover-border-delete: #444;
  --hover-equals: #1a70a1;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

main {
  margin: 100px auto;
  background-color: var(--calculator-background-color);
  max-width: 375px;
  padding: 22px 26px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
  border-radius: 30px;
}

.modes {
  background-color: var(--buttons-background-color);
  grid-column: 1 / 5;
  justify-self: center;
  color: var(--primary-color);
  font-size: 24px;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modes ion-icon {
  cursor: pointer;
}

.display {
  margin-top: 10px;
  background-color: var(--display-background-color);
  grid-column: 1 / 5;
  width: 100%;
  padding: 10px 0;
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: end;
}

.display div {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--primary-color);
  word-break: break-all;
}

.upper-display {
  min-height: 19px;
}

.lower-display {
  min-height: 33px;
  font-size: 28px;
}

button {
  background: var(--buttons-background-color);
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 15px;
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms;
}

button:hover {
  background: var(--hover-delete);
  border: 1px solid var(--hover-border-delete);
}

.numbers:hover,
.operations:hover {
  background: var(--hover-color);
  border: 1px solid var(--hover-border-color);
}

.equals:hover {
  background: var(--hover-equals);
}

button:active {
  scale: 0.95;
}

.delete {
  background: var(--delete-background-color);
  color: var(--delete-color);
}

#backspace-icon {
  font-size: 24px;
}

.operations {
  background: var(--operations-background-color);
}

.equals {
  background: var(--equals-background-color);
  color: var(--equals-color);
  font-size: 44px;
  height: 150%;
  transform: translateY(-31px);
}

.zero {
  grid-column: span 2;
  width: 95%;
}

.plus {
  height: 150%;
}

.calculator-shade {
  width: 357px;
  height: 480px;
  background: var(--calculator-shade-background-color);
  filter: blur(123px);
  border-radius: 39px;
  position: absolute;
  left: 50%;
  top: 300px;
  z-index: -1;
}

footer p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

footer p a:link,
footer p a:visited {
  margin-left: 7px;
  color: var(--primary-color);
  text-decoration: none;
  transition: all 300ms;
}

footer p a:hover,
footer p a:active {
  transform: translateY(-5px);
}

/* Media Queries */

@media (max-width: 775px) {
  .calculator-shade {
    display: none;
  }
}

@media (max-width: 350px) {
  footer p {
    font-size: 20px;
  }
}

@media (max-height: 815px) {
  .calculator-shade {
    display: none;
  }
}

@media (max-height: 715px) {
  main {
    margin: 30px auto;
  }
}

@media (max-height: 635px) {
  footer {
    margin-top: 40px;
  }
  footer p {
    position: static;
    transform: translateX(0);
    margin: 0 auto;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #daf0ff;
    --calculator-background-color: #f7f8fb;
    --calculator-shade-background-color: #60beff8c;
    --buttons-background-color: #fff;
    --display-background-color: #fff;
    --operations-background-color: #ade2ff;
    --delete-background-color: #fffffffc;
    --equals-background-color: #1991ff;
    --delete-color: #858586;
    --equals-color: #b2daff;
    --primary-color: #109dff;
    --hover-color: #8ee3ff;
    --hover-delete: #ccc;
    --hover-border-color: #70bfda;
    --hover-border-delete: #acacac;
    --hover-equals: #1581e5;
  }
}
